.img-size{
    height: 500px;
    
}

.text-color{
    color:#052e66;
}

.layout-img{
    height: 70px;
    width: 70px;
}
.btnCol{
    background-color: #052e66;
    color: white;
}


@media all and (max-width : 580px) {

    .font-sizes{
        font-size:20px;
    }
    .dis{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
    }
    .textCeter{
        text-align: center;
    }

    

}



